<header>
    <nav>
        <a href="/">Home</a>

        <% if (user) { %>
            <a href="/items">Items</a>
            <a href="/logos">Logos</a>
            <a href="/navbars">Navbars</a>
            <a href="/images">Images</a>
            <a href="/users/logout">Logout</a>
        <% } else { %>
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        <% } %>
    </nav>
</header>