<header>
    <nav>
        <a href="/">Home</a>

        <% if (user) { %>
            <a href="/items">Items</a>
            <a href="/logos">Logos</a>
            <a href="/navbars">Navbars</a>
            <a href="/intros">Intros</a>
            <a href="/offers_headings">Offers headings</a>
            <a href="/offers_items">Offers items</a>
            <a href="/feedback_headings">Feedback headings</a>
            <a href="/feedback_contacts">Feedback contacts</a>
            <a href="/footers">Footers</a>
            <a href="/images">Images</a>
            <a href="/users/logout">Logout</a>
        <% } else { %>
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        <% } %>
    </nav>
</header>